    <div class="container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- blog_bottom -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6978978720477594"
             data-ad-slot="2472025415"
             data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      <div class="footer-header"></div>
      <footer class="footer">
        <p class="text-center">
          <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2016. Hakjoon Sim
        </p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"   integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"   crossorigin="anonymous"></script>

  {% include disqus-counts.html %}
  {% include analytics.html %}

  </body>
</html>
