.place+.place {
  margin-top: 1rem;
}

.pt-100 {
  padding-top: 100%;
}

.place-images .swiper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-pagination-bullet-active {
  @apply bg-brand2 !important;
}