@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg-main;
  color: rgba(255, 255, 255, 0.9);
}

header {
  @apply bg-bg-main;
  opacity: 0.85;
}

main a {
  @apply text-brand2
}

ul li {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.layer-container {
  @apply bg-bg-main;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%
}

.text-gray-300-animation {
  @apply text-gray-300;

  transition-duration: .5s;
  transition-timing-function: linear;
}

.text-brand1-animation {
  @apply text-brand1;

  transition-duration: .5s;
  transition-timing-function: linear;
}

.text-brand2-animation {
  @apply text-brand2;

  transition-duration: .5s;
  transition-timing-function: linear;
}

.cursor-animation::after {
  content: '|';
  animation: cursor .8s infinite;
}

.mobile-nav-hidden {
  display: none;
}

.mobile-nav-show {
  display: flex;
}

@keyframes cursor {
  0% { opacity: 0; }
  100% { opacity: 1; }
}