@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgba(255, 255, 255, 0.9);
  background-color: #282c34;
}

main a {
  @apply text-brand2
}

.text-gray-300-animation {
  @apply text-gray-300;

  transition-duration: .5s;
  transition-timing-function: linear;
}

.text-brand1-animation {
  @apply text-brand1;

  transition-duration: .5s;
  transition-timing-function: linear;
}

.text-brand2-animation {
  @apply text-brand2;

  transition-duration: .5s;
  transition-timing-function: linear;
}

ul li {
  list-style-type: disc;
}

.cursor-animation::after {
  content: '|';
  animation: cursor .8s infinite;
}

@keyframes cursor {
  0% { opacity: 0; }
  100% { opacity: 1; }
}