.border-responsive {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .border-responsive {
    border-bottom: none;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
}
